[submodule "games/aiventure"]
	path = games/aiventure
	url = https://github.com/vifudotdev/AIventure
[submodule "ai-town"]
	path = games/ai-town
	url = https://github.com/vifudotdev/ai-town
[submodule "agentshire"]
	path = games/agentshire
	url = https://github.com/vifudotdev/Agentshire
[submodule "microverse"]
	path = games/microverse
	url = https://github.com/vifudotdev/Microverse
[submodule "games/ai-death-game"]
	path = games/ai-death-game
	url = https://github.com/vifudotdev/ai-death-game
